body {

background-color: "https://lh3.googleusercontent.com/-Ejw7ZPk2a3w/VhUNiGB_Y8I/AAAAAAAAASs/N6gE33cWBXkFV1Qo0o43e2inq58AVO6lwCCo/s640/whatevenisthis.JPG";
text-align: center;
font-family: "Tahoma";

}

h1 {
  
  color: orange;
}
